{% extends 'layout/content.html.twig' %}

{% block main %}
  <div class="container p-4">
    <h1 class="h3">{{ 'Players'|trans }}</h1>
    <p class="lead">
      {{ 'Find chess players all over the Internet and improve your chess skills. Have fun!'|trans }}
    </p>
    <hr class="hr">
    <div class="table-responsive">
      <table id="clubsTable" class="table mb-3">
        <thead>
          <tr>
            <th scope="col">{{ 'Platform'|trans }}</th>
            <th scope="col">{{ 'Name'|trans }}</th>
            <th scope="col">{{ 'Description'|trans }}</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Matrix
            </td>
            <td>
              Chess Players
            </td>
            <td>
              Let's play chess with other players in a decentralized way.
            </td>
            <td>
              <a class="btn btn-primary" href="https://matrix.to/#/#chesslablab-chess-players:matrix.org" target="_blank" role="button">{{ 'Join'|trans }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <a class="btn btn-primary" href="{{ path('pages_support', {_locale:'en'}) }}" role="button">{{ 'Add a space'|trans }}</a>
  </div>
{% endblock %}
