<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="view-transition" content="same-origin">
    <title>ChesslaBlab Online Chess</title>
    <meta name="description" content="ChesslaBlab is an open-source organization on GitHub creating chess apps. A bunch of public repos ranging from JavaScript to PHP are available on it.">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@chesslablab/chessboard@0.0.4/assets/chessboard.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@chesslablab/chessboard@0.0.4/assets/extensions/markers/markers.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@chesslablab/chessboard@0.0.4/assets/extensions/promotion-dialog/promotion-dialog.css">
    <style>
      /* prevent page shake when vertical scrollbar appears */
      html {
        width: 100vw;
        overflow-x: hidden;
      }
    </style>
    <script src="{{ asset('js/settings.js') }}"></script>
  </head>
  <body>
    {% include 'partial/info_modal.html.twig' %}
    {% include 'partial/progress_modal.html.twig' %}
    {% include 'partial/panel/explain_position_modal.html.twig' %}
    <div class="row g-0 m-0">
      {% block main %}{% endblock %}
    </div>
    <script type="module" src="{{ asset('vendor/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
