<div class="modal fade" id="resultEventModal" tabindex="-1" aria-labelledby="resultEventModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resultEventModalLabel">{{ 'Openings By Event'|trans }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-7 mb-3">
              <input list="eventAutocompleteList" name="Event" class="form-control" placeholder="{{ 'Event'|trans }}">
              <datalist id="eventAutocompleteList"></datalist>
            </div>
            <div class="col-md-3 mb-3">
              <select name="Result" class="form-select" aria-label="Result" required>
                <option value="">{{ 'Result'|trans }}</option>
                <option value="1-0">1-0</option>
                <option value="1/2-1/2">1/2-1/2</option>
                <option value="0-1">0-1</option>
              </select>
            </div>
            <div class="col-md-2 mb-3">
              <button type="submit" class="autocomplete btn btn-primary w-100">{{ 'Search'|trans }}</button>
              <button type="button" class="autocomplete btn btn-primary w-100 d-none" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span class="sr-only">{{ 'Loading'|trans }}...</span>
              </button>
            </div>
          </div>
          <div id="eventStatsChart" class="row"></div>
        </form>
      </div>
    </div>
  </div>
</div>
