<form id="ravForm" class="p-3 bg-light">
  <div class="mb-3">
    <select name="variant" class="form-select" aria-label="{{ 'Select a variant'|trans }}" required>
      <option value="">{{ 'Select a variant'|trans }}</option>
      <option value="classical">{{ 'Classical chess'|trans }}</option>
      <option value="960">{{ 'Fischer Random'|trans }}</option>
    </select>
  </div>
  <div class="mb-3 startPos d-none">
    <label class="form-label">Start position</label>
    <input type="text" name="startPos" placeholder="Enter a start position" class="form-control">
     <small class="form-text text-muted">Example: RNBQKBNR</small>
  </div>
  <div class="mb-3">
    <input type="text" name="fen" placeholder="{{ 'FEN String'|trans }}" class="form-control">
  </div>
  <div class="mb-3">
    <textarea name="rav" placeholder="{{ 'RAV Movetext'|trans }}" class="form-control" rows="3" required></textarea>
  </div>
  <div>
    <button type="submit" class="btn btn-primary w-100">{{ 'Accept'|trans }}</button>
  </div>
</form>
