<form id="ravForm" class="p-3 bg-light">
  <div class="mb-3">
    <select name="variant" class="form-select" aria-label="{{ 'Variant'|trans }}" required>
      <option value="">{{ 'Variant'|trans }}</option>
      <option value="classical">{{ 'Classical Chess'|trans }}</option>
      <option value="960">{{ 'Fischer Random'|trans }}</option>
    </select>
  </div>
  <div class="mb-3">
    <input type="text" name="fen" placeholder="{{ 'FEN String'|trans }}" class="form-control">
  </div>
  <div class="mb-3">
    <textarea name="rav" placeholder="{{ 'RAV Movetext'|trans }}" class="form-control" rows="3" required></textarea>
  </div>
  <div>
    <button type="submit" class="btn btn-primary w-100">{{ 'Accept'|trans }}</button>
  </div>
</form>
