{% extends 'layouts/study.html.twig' %}

{% block main %}
  <div class="col-md-6">
    <div id="chessboard"></div>
  </div>
  <div class="col-md-6">
    <ul class="nav nav-tabs" id="homeTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="browse-home-tab" data-bs-toggle="tab" data-bs-target="#browseHomeTab" type="button" role="tab" aria-controls="browseHomeTab" aria-selected="true">
          {{ 'Move'|trans }}
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="add-home-tab" data-bs-toggle="tab" data-bs-target="#addHomeTab" type="button" role="tab" aria-controls="addHomeTab" aria-selected="false">
          {{ 'Add'|trans }}
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="openings-home-tab" data-bs-toggle="tab" data-bs-target="#openingsHomeTab" type="button" role="tab" aria-controls="openingsHomeTab" aria-selected="false">
          {{ 'Openings'|trans }}
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="popular-home-tab" data-bs-toggle="tab" data-bs-target="#popularHomeTab" type="button" role="tab" aria-controls="popularHomeTab" aria-selected="false">
          {{ 'Most Played'|trans }}
        </button>
      </li>
    </ul>
    <div class="tab-content" id="homeTabsContent">
      <div class="tab-pane show active" id="browseHomeTab" role="tabpanel" aria-labelledby="browse-home-tab">
        {% include 'partial/panel/san_panel.html.twig' %}
      </div>
      <div class="tab-pane" id="addHomeTab" role="tabpanel" aria-labelledby="add-home-tab">
        {% include 'pages/home/san_form.html.twig' %}
      </div>
      <div class="tab-pane" id="openingsHomeTab" role="tabpanel" aria-labelledby="openings-home-tab">
        {% include 'pages/home/openings_form.html.twig' %}
      </div>
      <div class="tab-pane" id="popularHomeTab" role="tabpanel" aria-labelledby="popular-home-tab">
        {% include 'pages/home/popular_form.html.twig' %}
      </div>
    </div>
  </div>
  {% block javascripts %}
    {% block importmap %}
      {{ importmap('js/pages/home/index.js') }}
    {% endblock %}
  {% endblock %}
{% endblock %}
