{% extends 'layouts/default.html.twig' %}

{% block main %}
  <div class="col-md-6">
    <div id="chessboard"></div>
  </div>
  <div class="col-md-6">
    <ul class="nav nav-tabs" id="homeTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="moves-home-tab" data-bs-toggle="tab" data-bs-target="#movesHomeTab" type="button" role="tab" aria-controls="movesHomeTab" aria-selected="true">
          {{ 'Moves'|trans }}
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="add-home-tab" data-bs-toggle="tab" data-bs-target="#addHomeTab" type="button" role="tab" aria-controls="addHomeTab" aria-selected="false">
          {{ 'Add'|trans }}
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="openings-home-tab" data-bs-toggle="tab" data-bs-target="#openingsHomeTab" type="button" role="tab" aria-controls="openingsHomeTab" aria-selected="false">
          {{ 'Openings'|trans }}
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="most-played-home-tab" data-bs-toggle="tab" data-bs-target="#mostPlayedHomeTab" type="button" role="tab" aria-controls="mostPlayedHomeTab" aria-selected="false">
          {{ 'Most Played'|trans }}
        </button>
      </li>
    </ul>
    <div class="tab-content" id="homeTabsContent">
      <div class="tab-pane show active" id="movesHomeTab" role="tabpanel" aria-labelledby="moves-home-tab">
        {% include 'partial/panel/san_panel.html.twig' %}
      </div>
      <div class="tab-pane" id="addHomeTab" role="tabpanel" aria-labelledby="add-home-tab">
        {% include 'pages/home/san_form.html.twig' %}
      </div>
      <div class="tab-pane" id="openingsHomeTab" role="tabpanel" aria-labelledby="openings-home-tab">
        {% include 'pages/home/openings_form.html.twig' %}
      </div>
      <div class="tab-pane" id="mostPlayedHomeTab" role="tabpanel" aria-labelledby="most-played-home-tab">
        {% include 'pages/home/most_played_form.html.twig' %}
      </div>
    </div>
  </div>
  {% include 'partial/panel/explain_position_modal.html.twig' %}
  {% include 'partial/panel/heuristics_modal.html.twig' %}
  {% block javascripts %}
    {% block importmap %}
      {{ importmap('js/pages/home/index.js') }}
    {% endblock %}
  {% endblock %}
{% endblock %}
