<form id="sanForm" class="p-3 bg-light">
  <div class="mb-3">
    <select name="variant" class="form-select" aria-label="{{ 'Variant'|trans }}" required>
      <option value="classical">{{ 'Classical chess'|trans }}</option>
      <option value="960">{{ 'Fischer Random'|trans }}</option>
      <option value="dunsany">{{ 'Dunsany'|trans }}</option>
      <option value="losing">{{ 'Losing Chess'|trans }}</option>
      <option value="racing-kings">{{ 'Racing Kings'|trans }}</option>
    </select>
  </div>
  <div class="mb-3 startPos d-none">
    <input type="text" name="startPos" placeholder="Enter a start position" class="form-control">
     <small class="form-text text-muted">Example: RNBQKBNR</small>
  </div>
  <div class="input-group mb-3">
    <input type="text" name="fen" placeholder="{{ 'Enter a FEN'|trans }}" class="form-control" required>
    <div class="input-group-append">
      <button class="btn btn-primary" type="button">Upload</button>
    </div>
  </div>
  <div class="mb-3">
    <textarea name="san" placeholder="{{ 'Enter a movetext'|trans }}" class="form-control" rows="3"></textarea>
  </div>
  <div>
    <button type="submit" class="btn btn-primary w-100">{{ 'Accept'|trans }}</button>
  </div>
</form>

<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadModalLabel">{{ 'Upload Image'|trans }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <input class="form-control" type="file" id="formFile" name="level">
          </div>
          <div>
            <button type="submit" class="btn btn-primary w-100">{{ 'Accept'|trans }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
