<form id="checkmateForm" class="p-3 bg-light">
  <div class="mb-3 text-center">
    <select name="items" class="form-select" aria-label="{{ 'Select an option'|trans }}" required>
      <option value="">{{ 'Select an option'|trans }}</option>
      <option value="rand">{{ 'Random'|trans }}</option>
      <option value="QR,R">{{ 'King and queen and rook vs. king and rook'|trans }}</option>
      <option value="Q">{{ 'King and queen vs. king'|trans }}</option>
      <option value="R">{{ 'King and rook vs. king'|trans }}</option>
      <option value="BB">{{ 'King and two bishops vs. king'|trans }}</option>
      <option value="BN">{{ 'King and bishop and knight vs. king'|trans }}</option>
    </select>
  </div>
  <div class="mb-3 d-flex justify-content-center">
    <div>
      <input type="radio" id="checkmateModalRadioWhite" name="color" value="w">
      <label for="checkmateModalRadioWhite"><img src="{{ asset('img/wKing.png') }}" alt="White"></label>
    </div>
    <div>
      <input type="radio" id="checkmateModalRadioRandom" name="color" value="{{ random(['w', 'b']) }}" checked>
      <label for="checkmateModalRadioRandom"><img src="{{ asset('img/wbKing.png') }}" alt="Random"></label>
    </div>
    <div>
      <input type="radio" id="checkmateModalRadioBlack" name="color" value="b">
      <label for="checkmateModalRadioBlack"><img src="{{ asset('img/bKing.png') }}" alt="Black"></label>
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-primary w-100">{{ 'Create Game'|trans }}</button>
  </div>
</form>
