<form id="endgameForm" class="p-3 bg-light">
  <div class="mb-3 text-center">
    <select name="items" class="form-select" aria-label="{{ 'Select an endgame'|trans }}" required>
      <option value="">{{ 'Select an endgame'|trans }}</option>
      <option value="rand">{{ 'Random'|trans }}</option>
      <option value="P">{{ 'Pawn endgame'|trans }}</option>
    </select>
  </div>
  <div class="mb-3 d-flex justify-content-center">
    <div>
      <input type="radio" id="endgameModalRadioWhite" name="color" value="w">
      <label for="endgameModalRadioWhite"><img src="{{ asset('img/wKing.png') }}" alt="White"></label>
    </div>
    <div>
      <input type="radio" id="endgameModalRadioRandom" name="color" value="{{ random(['w', 'b']) }}" checked>
      <label for="endgameModalRadioRandom"><img src="{{ asset('img/wbKing.png') }}" alt="Random"></label>
    </div>
    <div>
      <input type="radio" id="endgameModalRadioBlack" name="color" value="b">
      <label for="endgameModalRadioBlack"><img src="{{ asset('img/bKing.png') }}" alt="Black"></label>
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-primary w-100">{{ 'Create Game'|trans }}</button>
  </div>
</form>
