<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="view-transition" content="same-origin">
    <title>ChesslaBlab</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cm-chessboard@8.5.0/assets/chessboard.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cm-chessboard@8.5.0/assets/extensions/markers/markers.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cm-chessboard@8.5.0/assets/extensions/promotion-dialog/promotion-dialog.css">
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}
      {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('chessboard_classical') }}">ChesslaBlab</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="{{app.request.get('_route') starts with 'chessboard_' ? 'active' : ''}} nav-link dropdown-toggle" href="#" id="navbarDropdownChessboardLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-box-fill"></i> Chessboard
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownChessboardLink">
                <li><a class="dropdown-item" href="/chessboard/classical"><i class="bi bi-arrow-counterclockwise"></i> Classical</a></li>
                <li><a class="dropdown-item" href="/chessboard/fischer-random"><i class="bi bi-shuffle"></i> Fischer Random</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" data-bs-toggle="modal" href="#chessboardSanMovetextModal"><i class="bi bi-card-text"></i> SAN Movetext</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-diagram-3-fill"></i> RAV Movetext</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" data-bs-toggle="modal" href="#chessboardFenStringModal"><i class="bi bi-card-text"></i> FEN String</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="{{app.request.get('_route') starts with 'play_' ? 'active' : ''}} nav-link dropdown-toggle" href="#" id="navbarDropdownPlayLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-laptop-fill"></i> Play
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownPlayLink">
                <li><a class="dropdown-item" href="#"><i class="bi bi-globe2"></i> Play Online</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item" data-bs-toggle="modal" href="#playComputerModal">
                  <i class="bi bi-robot"></i> Play Computer</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item" data-bs-toggle="modal" href="#playFriendModal">
                  <i class="bi bi-person-fill"></i> Play a Friend</a>
                </li>
                <li>
                  <a class="dropdown-item" data-bs-toggle="modal" href="#enterInviteCodeModal">
                  <i class="bi bi-keyboard-fill"></i> Enter Invite Code</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDatabaseLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-database-fill"></i> Database
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownDatabaseLink">
                <li><a class="dropdown-item" href="#"><i class="bi bi-binoculars-fill"></i> Search Games</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-bar-chart-fill"></i> Top 50 Openings</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-bar-chart-fill"></i> Players Stats</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-bar-chart-fill"></i> Events Stats</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square"></i> Annotated Games</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="{{app.request.get('_route') starts with 'openings_' ? 'active' : ''}} nav-link dropdown-toggle" href="#" id="navbarDropdownOpeningsLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-search"></i> Openings
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownOpeningsLink">
                <li><a class="dropdown-item" data-bs-toggle="modal" href="#openingsEcoCodeModal"><i class="bi bi-bookmark-fill"></i> ECO Code</a></li>
                <li><a class="dropdown-item" data-bs-toggle="modal" href="#openingsSanMovetextModal"><i class="bi bi-card-text"></i> SAN Movetext</a></li>
                <li>
                  <a class="dropdown-item" data-bs-toggle="modal" href="#openingsNameModal">
                  <i class="bi bi-alphabet"></i> Name</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTrainingLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-magic"></i> Training
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownTrainingLink">
                <li><a class="dropdown-item" href="#"><i class="bi bi-puzzle-fill"></i> Endgame Skills</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-check-square-fill"></i> Checkmate Skills</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownInboxLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-envelope-fill"></i> Inbox
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownInboxLink">
                <li><a class="dropdown-item" href="#"><i class="bi bi-inbox-fill"></i> Create Inbox</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-envelope-open-fill"></i> Read Inbox</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="bi bi-gear-fill"></i> Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="bi bi-question-circle-fill"></i> Help</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% include 'partial/chessboard/san_movetext_modal.html.twig' %}
    {% include 'partial/chessboard/fen_string_modal.html.twig' %}
    {% include 'partial/play/computer_modal.html.twig' %}
    {% include 'partial/play/friend_modal.html.twig' %}
    {% include 'partial/play/copy_invite_code_modal.html.twig' %}
    {% include 'partial/play/enter_invite_code_modal.html.twig' %}
    {% include 'partial/openings/eco_code_modal.html.twig' %}
    {% include 'partial/openings/san_movetext_modal.html.twig' %}
    {% include 'partial/openings/name_modal.html.twig' %}
    <div class="container">
       <div class="row mt-3">
         {% block main %}{% endblock %}
       </div>
    </div>
  </body>
</html>
