<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="view-transition" content="same-origin">
    <title>{{ metadata.title }}</title>
    <meta name="description" content="{{ metadata.description }}">
    <link rel="canonical" href="{{ app.request.uri }}">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="{{ asset('js/settings.js') }}"></script>
  </head>
  <body>
    {% include 'partial/nav.html.twig' %}
    <div class="container">
      <div class="row g-3">
        <div class="the-page p-4">
          <h1>{{ "ChesslaBlab Blog"|trans }}</h1>
          <h2>{{ "Discover stories about your favorite topics"|trans }}</h2>
          <hr class="hr">
          <div class="row g-4">
            {% for post in posts %}
              <div class="col-md-4">
                <div class="card">
                  <a href="{{ post.url }}">
                    <img class="card-img-top" src="/blog/{{ post.content.image }}" alt="Featured image">
                  </a>
                  <div class="card-body">
                    <h5 class="card-title"><a href="{{ post.url }}">{{ post.metadata.title }}</a></h5>
                    <p class="card-text">{{ post.content.subtitle }}</p>
                    <p class="card-text"><small>{{ post.content.date }}</small></p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% include 'partial/footer.html.twig' %}
    <script type="module" src="{{ asset('vendor/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
  </body>
