<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="view-transition" content="same-origin">
    <title>{{ metadata.title }}</title>
    <meta name="description" content="{{ metadata.description }}">
    <link rel="canonical" href="{{ app.request.uri }}">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="{{ asset('js/settings.js') }}"></script>
    <script>
      function resize(iframe) {
        iframe.style.height = iframe.contentWindow.document.documentElement.scrollHeight + 'px';
      }
    </script>
  </head>
  <body>
    {% include 'partial/nav.html.twig' %}
    <div class="the-content container">
      <div class="the-post container p-4">
        {% apply markdown_to_html %}
          # {{  metadata.title }}
          ## {{  content.subtitle }}
          ###### {{  content.date }}
          ![Featured image](/blog/{{ content.image }})

          {{ post | raw }}
        {% endapply %}
      </div>
    </div>
    {% include 'partial/footer.html.twig' %}
    <script type="module" src="{{ asset('vendor/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
  </body>
