<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="view-transition" content="same-origin">
    <title>ChesslaBlab</title>
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap-icons/font/bootstrap-icons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <script type="module" src="{{ asset('vendor/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
  </head>
  <body>
    {% include 'nav.html.twig' %}
    <div class="container">
       <div class="row mt-3">
         {% block main %}{% endblock %}
       </div>
    </div>
    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">© 2024 ChesslaBlab</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="{{ path('footer_about') }}">About</a></li>
        <li class="list-inline-item"><a href="{{ path('footer_support') }}">Support</a></li>
      </ul>
    </footer>
  </body>
</html>
