<div id="boardActionsDropdown" class="dropdown">
  <button class="btn btn-light btn-sm w-100 rounded-0" type="button" id="boardActionsMenu" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-list"></i> {{ 'Board'|trans }}
  </button>
  <ul class="dropdown-menu rounded-0" aria-labelledby="boardActionsMenu">
    <li>
      <a class="dropdown-item" href="#">
        <i class="bi bi-arrow-repeat"></i> {{ 'Flip Board'|trans }}
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="#">
        <i class="bi bi-card-text"></i> {{ 'Copy Movetext'|trans }}
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="#">
        <i class="bi bi-input-cursor"></i> {{ 'Copy FEN'|trans }}
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="#">
        <i class="bi bi-card-image"></i> {{ 'Download Image'|trans }}
      </a>
    </li>
  </ul>
</div>
