<div id="gameStudyDropdown" class="dropdown">
  <button class="btn btn-light btn-sm w-100 rounded-0" type="button" id="gameStudyMenu" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-list"></i> {{ 'Study'|trans }}
  </button>
  <ul class="dropdown-menu rounded-0" aria-labelledby="gameStudyMenu">
    <li>
      <a class="dropdown-item" href="#">
        <i class="bi bi-chat-right-text-fill"></i> {{ 'Explain Position'|trans }}
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="#">
        <i class="bi bi-chat-right-dots-fill"></i> {{ 'Explain a Good Move'|trans }}
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="#">
        <i class="bi bi-graph-up"></i> {{ 'Heuristic Charts'|trans }}
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="#">
        <i class="bi bi-calculator"></i> {{ 'Fast Steinitz Evaluation'|trans }}
      </a>
    </li>
  </ul>
</div>
