{% extends 'layouts/content.html.twig' %}

{% block main %}
  <div class="container p-4">
    <h1 class="h3">{{ 'Sign In'|trans }}</h1>
    <hr class="hr">
    <form
      id="signInForm"
      data-totp_auth_signin="{{ path('totp_auth_signin') }}"
      data-totp_auth_signout="{{ path('totp_auth_signout') }}"
      data-pages_play_online="{{ path('pages_play_online') }}"
    >
      <div>
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="text" name="username" class="form-control" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" name="password" minlength="9" maxlength="9" class="form-control" required>
        </div>
        <div class="mt-4">
          <button type="submit" class="btn btn-primary">{{ 'Sign In'|trans }}</button>
          <a class="btn btn-secondary" href="{{ path('pages_signin_register') }}">{{ 'Register Now'|trans }}</a>
        </div>
      </div>
    </form>
  </div>
  {% block javascripts %}
    {% block importmap %}
      {{ importmap('js/pages/signin/index.js') }}
    {% endblock %}
  {% endblock %}
{% endblock %}
