<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="view-transition" content="same-origin">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@chesslablab/chessboard@0.0.4/assets/chessboard.css">
  </head>
  <body>
    <div class="col-md-6">
      <div id="chessboard"></div>
    </div>
    <div class="col-md-3">
      {% include 'partial/panel/san_panel.html.twig' %}
    </div>
    <script type="module" src="{{ asset('vendor/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script id="analysis" type="module" data-variant="{{ variant }}" data-fen="{{ fen }}" data-movetext="{{ movetext }}" data-startpos="{{ startPos }}" src="{{ asset('js/iframe/analysis/index.js') }}"></script>
  </body>
