<footer class="mt-4 text-muted text-center text-small">
  <ul class="list-inline">
    <li class="list-inline-item"><a href="{{ path('pages_about', {_locale:'en'}) }}" class="link-underline-opacity-0">About</a></li>
    <li class="list-inline-item"><a href="{{ path('blog') }}" class="link-underline-opacity-0">{{ 'Blog'|trans }}</a></li>
    <li class="list-inline-item"><a href="{{ path('pages_players') }}" class="link-underline-opacity-0">{{ 'Players'|trans }}</a></li>
  </ul>
</footer>
