<nav class="navbar navbar-expand-lg navbar-dark mb-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('pages_play_online') }}">Chessla<span class="fw-bold">Blab</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="{{app.request.get('_route') starts with 'pages_play_' ? 'active' : ''}} nav-link dropdown-toggle" href="#" id="navbarDropdownPlayLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Play
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownPlayLink">
            <li>
              <a class="dropdown-item" href="{{ path('pages_play_online') }}">
                Online
              </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="{{ path('pages_play_computer') }}">
                Computer
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="{{app.request.get('_route') starts with 'pages_chessboard_' ? 'active' : ''}} nav-link dropdown-toggle" href="#" id="navbarDropdownChessboardLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Chessboard
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownChessboardLink">
            <li>
              <a class="dropdown-item" href="{{ path('pages_chessboard_classical') }}">
                Classical
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ path('pages_chessboard_fischer_random') }}">
                Fischer Random
              </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="{{ path('pages_chessboard_fen_string') }}">
                FEN String
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ path('pages_chessboard_san_movetext') }}">
                SAN Movetext
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ path('pages_chessboard_rav_movetext') }}">
                RAV Movetext
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="{{app.request.get('_route') starts with 'pages_openings_' ? 'active' : ''}} nav-link dropdown-toggle" href="#" id="navbarDropdownOpeningsLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Openings
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownOpeningsLink">
            <li>
              <a class="dropdown-item" href="{{ path('pages_openings_eco_code') }}">
                ECO Code
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ path('pages_openings_san_movetext') }}">
                SAN Movetext
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ path('pages_openings_name') }}">
                Name
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="{{app.request.get('_route') starts with 'pages_database_' ? 'active' : ''}} nav-link dropdown-toggle" href="#" id="navbarDropdownDatabaseLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Database
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownDatabaseLink">
            <li>
              <a class="dropdown-item" href="{{ path('pages_database_annotated_games') }}">
                Annotated Games
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% include 'partial/common/info_modal.html.twig' %}
{% include 'partial/common/progress_modal.html.twig' %}
